@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
    font-family: 'DM Sans', sans-serif;
  }
  
.PhoneInput {
  padding-left: 20px; 
  width: 100%;
  box-sizing: border-box;
  height: 48px;
  font-size: 16px;
  border-bottom: 2px solid #000;
} 
input::placeholder {
  text-align: left;
  align-items: center;
}
.bg-image {
  background-image: url('/src/asset/bgimg.png');
  background-size: cover;
}
.bg-image2 {
  background-image: url('/src/asset/bg-image2.png');
  background-size: cover;
}
.container {
  position: relative;
  text-align: center;
  color: white;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.imgs {
  background-color: rgb(154, 195, 85);
}
.width {
  width: 65%;
}